.navbar {
    background-color: #0B3289;
    color: #F8B37F;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .navbar-logo {
    height: 100px; /* Adjust as needed */
    margin-right: 15px;
  }

.slogan {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: #F8B37F;
  }
  
  .navbar-menu {
    list-style-type: none;
    display: flex;
    gap: 15px;
  }
  
  .navbar-menu li {
    display: inline;
  }
  
  .navbar-menu li a {
    color: #F8B37F;
    text-decoration: none;
  }
  
  .navbar-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .navbar-menu {
      flex-direction: column;
      display: none; /* Initially hide menu on smaller screens */
      gap: 10px;
    }
  
    .navbar-menu.active {
      display: flex; /* Show menu when toggled */
    }
  
    .navbar-toggle {
      display: block;
    }
  }